@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #d6d5db 20%,
    #edecbe 90%,
    #edecbe 100%
  );
}

.title {
  font-size: 2.3rem;
  text-align: center;
  margin: 1.5rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.72rem;
  width: 90vw;
  max-width: 1000px;
  margin: 3rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 250px;
  background-color: #defde0;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.card > * {
  margin: 0.2rem auto;
}

.avatarPoke {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 100%;
  margin: 1rem;
  padding: .7rem;
}
